---
layout: layout
---

{% assign author = site.authors[page.author] %}
<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>
  
  <section class="byline">
    <img src="//www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
      by {{ author.display_name }}
  </section>

  {{ content }}
  <div class="pull"></div>
  {% include twitter.html %}
  <hr>
  {% include disqus.html %}
</section>